[submodule "neo/thirdparty/zlib"]
	path = neo/thirdparty/zlib
	url = https://github.com/madler/zlib.git
	branch = develop
[submodule "neo/thirdparty/stb"]
	path = neo/thirdparty/stb
	url = https://github.com/nothings/stb.git
