[submodule "neo/thirdparty/zlib"]
	path = neo/thirdparty/zlib
	url = https://github.com/madler/zlib.git
	branch = develop
[submodule "neo/thirdparty/libjpeg-turbo"]
	path = neo/thirdparty/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
